.title {
    text-align: center;
}

.oink-form {
    width: 50%;
    margin: 0 auto;

}

.oinks > div {
    background-color: rgb(255, 245, 245);
    padding: 12px;
    border-radius: 4px;
}

.oinks > div:not(:last-child) {
    margin-bottom: 8px;
    margin-top: 8px;
}